//- - SoldierCorp
//- - Edgardo Ramírez León
//- - edgardorl.com

<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Bitso for Slack (unofficial)

    link(rel="shortcut icon", href="/static/images/bitso-slack-logo.png", type="image/png")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:300,400,700")
    link(rel='stylesheet', href='https://unpkg.com/webkul-micron@1.0.4/dist/css/micron.min.css')
    link(rel="stylesheet", href="/static/styles/app.css")

    //- SEO

    meta(name='description' content='Bitso for Slack')
    meta(name='keywords' content='bitso, bitcoin, mexico, MXN, ethereum, ripple, litecoin, cryptocurrency, criptomoneda mexico, xrp, ltc, btc, eth')
    meta(name='author' content='Edgardo Ramírez León')

    meta(name='twitter:card', content='Bitso for Slack to check the latest prices of your cryptocurrencies')
    meta(name='twitter:site', content='@bitso')
    meta(name='twitter:creator', content='@_soldier')

    meta(property='og:url', content='https://bitso.edgardorl.com')
    meta(property='og:title', content='Bitso for Slack')
    meta(property='og:description', content='Now you can check the latest prices of Bitcoin, Ethererum, Ripple and Bitcoin directly on Slack with the Bitso app.')
    meta(property='og:image', content='https://826e5b51.ngrok.io/static/images/bitso-pattern.png')

  body

    #loader
      span Loading ...

    {{ yield }}

    script(src='https://unpkg.com/webkul-micron@1.0.4/dist/script/micron.min.js')

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-113151029-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113151029-1');

    script.
      function start() {
        setTimeout(function() {
          var indexPage = document.getElementById('index-page');
          indexPage.classList.remove('loading');

          var loader = document.getElementById('loader');
          loader.parentNode.removeChild(loader);
        }, 1200);
      }

      function goToHow() {
        var howSection = document.getElementById('how-it-works');
        howSection.className += ' active';

        var homeSection = document.getElementById('home');
        homeSection.className += ' inactive';

        ga('send', 'event', 'Internal link', 'click', 'Show how it works page');
      }

      function goToHome() {
        var howSection = document.getElementById('how-it-works');
        howSection.classList.remove('active');

        var homeSection = document.getElementById('home');
        homeSection.classList.remove('inactive');

        ga('send', 'event', 'Internal link', 'click', 'Show home page');
      }

      var img = new Image();
      img.src = '/static/images/bitso-pattern.jpg';
      img.onload = function() {
        start();
      };
