
#index-page.page
  .content
    img(src='/static/images/logo.svg')
    h1 Bitso for Slack (unofficial)
    p.description This slack app was built by Edgardo Ramírez León #[a(href='https://edgardorl.com') https://edgardorl.com] and the reason was to provide a quickly access to the latest prices of the cryptocurrencies (Bitcoin, Ethereum and Ripple) while you are in your Slack application instead visit and refreshing every time the website of #[strong Bitso].
    p.description #[strong Bitso] official site here #[a(href='https://bitso.com') https://bitso.com]

    #footer
      p
        small The presented logo in this website is not the official, this one was modified only for this application.

