body {
  font-family: 'Roboto', sans-serif;
  background: #a5c88f;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-weight: 300;
  color: #333;
}
p {
  color: #333;
}
a {
  text-decoration: none;
  border-bottom: 1px dotted #333;
  color: #524247;
}
/*
  Index page
*/
#index-page {
  max-width: 600px;
  height: auto;
  position: relative;
  flex: 1;
  background: #fff;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.15);
  border-radius: 10px;
  padding: 20px;
}
#index-page .content {
  text-align: center;
}
#index-page img {
  max-width: 180px;
}
#index-page #footer {
  margin-top: 50px;
  display: block;
}
#index-page #footer p {
  margin-bottom: 0;
}
#index-page small {
  font-size: 11px;
}
